#navbar
  position: fixed
  background-color: var(--navbarColor)
  @include screen-width($phone...)
    top: 1rem
    left: 1rem

    width: 3rem
    height: 3rem

  @include screen-width($desktop...)
    top: 0
    left: 0

    width: 20%
    height: 100vh