.main-content
  position: relative
  border: 2px dashed yellow
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: end

  @include screen-width($phone...)
    width: 100%
    min-height: 40%
    max-height: 57%

  @include screen-width($desktop...)
    order: 1
    width: 70%
    height: 40%

  .main-title
    color: var(--mainFontColor)
    font-weight: 900
    border: 2px dashed red
    margin-top: 2rem
    text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25)
    word-spacing: -0.4ch
    line-height: 1.5ch

    @include screen-width($phone...)
      width: 95%
      height: 15%
      font-size: 9vw
      text-align: right
      margin-right: 5%

    @include screen-width($desktop...)
      width: 100%
      height: 30%
      font-size: 400%
      text-align: right

  .subtitle
    width: 90%
    text-align: right
    color: var(--darkerFontColor)
    display: flex
    border: 2px dashed aqua
    margin-bottom: auto

    span
      margin-inline: 0.5ch

    @include screen-width($phone...)
      height: 15%
      flex-direction: column
      justify-content: center
      align-items: end
      margin-right: 5%
      margin-top: 0.7rem
      font-size: 4vw
      line-height: 100%

      span:nth-child(2)
        display: none

    @include screen-width($desktop...)
      height: 10%
      margin-inline-start: 0.5ch
      flex-direction: row
      justify-content: end
      align-items: center

  .button-wrapper
    height: 25%
    border: 2px dashed lightgreen
    display: flex

    @include screen-width($phone...)
      width: 95%
      flex-direction: column
      justify-content: space-between
      align-items: end
      margin-right: 5%
      margin-bottom: 5%

    @include screen-width($desktop...)
      width: 80%
      flex-direction: row
      justify-content: space-between
      align-items: center
      margin-top: 2rem
      margin-bottom: 10%
      margin-right: 1rem

    .call-to-action
      padding: 5px
      background-color: var(--buttonColor)
      border: none
      border-radius: 1.5rem
      color: var(--mainFontColor)
      font-family: 'Roboto Mono', monospace

      @include screen-width($phone...)
        width: 75%
        height: 40%
        line-height: 1rem
        font-size: 3.5vw

      @include screen-width($desktop...)
        width: 45%
        height: 2.5rem
        font-size: 1rem

.scrolling-arrows
  position: absolute
  width: 85%
  height: 5%
  bottom: 0
  border: 1px dashed aqua
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center