.main-content-main-page
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: end
  height: clamp(200px, 40%, 360px)

  // border: 2px dashed yellow

  @include screen-width($phone...)
    width: 100%

  @include screen-width($desktop...)
    order: 1
    width: 75%

  .main-title
    color: var(--mainFontColor)
    font-weight: 900
    margin-top: 2rem
    margin-bottom: 0
    text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25)
    word-spacing: -0.4ch
    // line-height: 1.5ch
    font-size: clamp(33px, 6vw, 115px)
    text-align: right

    // border: 2px dashed red

    @include screen-width($phone...)
      width: 97%
      margin-right: 3%

    @include screen-width($desktop...)
      width: 100%
      text-align: right

  .subtitle
    width: 100%
    text-align: right
    color: var(--darkerFontColor)
    display: flex
    margin-bottom: auto
    font-size: clamp(1.2rem, 2vw, 20px)
    margin-top: 0.7rem

    // border: 2px dashed aqua

    span
      margin-inline: 0.5ch

    @include screen-width($phone...)
      flex-direction: column
      justify-content: center
      align-items: end
      margin-right: 3%

      span:nth-child(2)
        display: none

    @include screen-width($desktop...)
      flex-direction: row
      justify-content: end
      align-items: center

  .button-wrapper
    width: clamp(450px, 90%, 950px)
    height: 25%
    margin-right: 3%
    display: flex
    justify-content: space-between

    // border: 2px dashed lightgreen

    @include screen-width($phone...)
      flex-direction: column
      align-items: end

    @include screen-width($desktop...)
      flex-direction: row
      align-items: center

    .call-to-action
      width: clamp(215px, 42%, 420px)
      padding: 5px
      border-radius: 1.5rem
      font-size: clamp(1rem, 1.5vw, 1.8rem)