#logo
  width: 100%
  height: 15vh
  margin-bottom: 10%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  @include screen-width($phone...)
    transform: translateX(90%)

  // border: 2px dashed blue

#navbar-main-logo
  height: 70%
  width: fit-content
  filter: drop-shadow(2px 2px 1px var(--textShadowColor))
  transition: transform 500ms ease
  cursor: pointer
  // border: 2px dashed red
  .dark-ead, .bright-ambo, .bright-L, .dark-L, .full-tyre-mask-group
    transition: transform 500ms ease, opacity 300ms ease

  &:hover
    transform: scale(1) !important
    .dark-ead, .bright-ambo
      opacity: 1 !important
      transform: scale(1) !important

    .dark-L
      transform: translate(0) scale(1) !important

    .bright-L, .full-tyre-mask-group
      transform: scale(1)