#social
  width: 90%
  height: 8%
  border-top: 1px solid var(--darkestFontColor)

  margin-top: auto

  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center

  .social-logo
    display: block
    width: 20%
    height: 30px

    // background: white
    svg
      height: 80%
      width: 100%

    #twitter-logo
      fill: var(--twitterLogoColor)
      
    #linked-logo
      fill: var(--linkedLogoColor)
      
    #github-logo
      height: 100%
      width: fit-content
      fill: var(--githubLogoColor)