:root {
  font-family: "Roboto Mono", monospace;
}
@media (min-width: 0px) and (max-width: 768px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  :root {
    font-size: 15px;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500vh;
  background: var(--background);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}
body::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--someDarkColor);
}
body::-webkit-scrollbar-thumb {
  background: var(--buttonColor);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: yellow;
  cursor: grab;
}

a {
  text-decoration: none;
}

#navbar {
  position: fixed;
  border: 2px dashed white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  #navbar {
    top: 0;
    left: -190px;
    width: 200px;
    height: 100%;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #navbar {
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
  }
}

#main-section {
  height: 500vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-left: dashed 2px var(--buttonColor);
  border-right: dashed 2px var(--buttonColor);
}
@media (min-width: 0px) and (max-width: 768px) {
  #main-section {
    width: 95vw;
    flex-direction: column;
    z-index: -2;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #main-section {
    width: 80%;
  }
}

#main-page {
  display: flex;
}
@media (min-width: 0px) and (max-width: 768px) {
  #main-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #main-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#main-page .scrolling-arrows {
  bottom: 1rem;
}

.main-content-main-page {
  position: relative;
  border: 2px dashed yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: clamp(200px, 40%, 360px);
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-main-page {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-main-page {
    order: 1;
    width: 75%;
  }
}
.main-content-main-page .main-title {
  color: var(--mainFontColor);
  font-weight: 900;
  border: 2px dashed red;
  margin-top: 2rem;
  text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25);
  word-spacing: -0.4ch;
  font-size: clamp(33px, 6vw, 115px);
  text-align: right;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-main-page .main-title {
    width: 97%;
    margin-right: 3%;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-main-page .main-title {
    width: 100%;
    text-align: right;
  }
}
.main-content-main-page .subtitle {
  width: 100%;
  text-align: right;
  color: var(--darkerFontColor);
  display: flex;
  border: 2px dashed aqua;
  margin-bottom: auto;
  font-size: clamp(1.2rem, 2vw, 20px);
  margin-top: 0.7rem;
}
.main-content-main-page .subtitle span {
  margin-inline: 0.5ch;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-main-page .subtitle {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 3%;
  }
  .main-content-main-page .subtitle span:nth-child(2) {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-main-page .subtitle {
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}
.main-content-main-page .button-wrapper {
  width: clamp(450px, 90%, 950px);
  height: 25%;
  border: 2px dashed lightgreen;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-main-page .button-wrapper {
    flex-direction: column;
    align-items: end;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-main-page .button-wrapper {
    flex-direction: row;
    align-items: center;
  }
}
.main-content-main-page .button-wrapper .call-to-action {
  width: clamp(215px, 42%, 420px);
  padding: 5px;
  background-color: var(--buttonColor);
  border: none;
  border-radius: 1.5rem;
  color: var(--mainFontColor);
  font-family: "Roboto Mono", monospace;
  font-size: clamp(1rem, 1.5vw, 1.8rem);
}

#title-animation {
  background: #FFFFFF99;
}
@media (min-width: 0px) and (max-width: 768px) {
  #title-animation {
    width: 100%;
    height: 15%;
    align-self: flex-end;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #title-animation {
    order: 2;
    width: clamp(200px, 45%, 400px);
    aspect-ratio: 1/2;
  }
}

.main-content-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed red;
  width: 90%;
  height: 80%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-contact {
    height: 75%;
    margin-top: auto;
    margin-bottom: 5%;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-contact {
    margin-top: 5%;
  }
}
.main-content-contact .contact-title {
  display: block;
  width: 100%;
  height: fit-content;
  color: var(--mainFontColor);
  font-weight: 900;
  border: 2px dashed yellow;
  text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25);
  word-spacing: -0.4ch;
  line-height: 1.5ch;
  margin-bottom: auto;
  font-size: clamp(40px, 6vw, 110px);
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-contact .contact-title {
    text-align: right;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .main-content-contact .contact-title {
    text-align: left;
  }
}
.main-content-contact .form-animation-wrapper {
  width: 100%;
  height: clamp(270px, 65%, 540px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border: 2px dashed aqua;
}
@media (min-width: 0px) and (max-width: 768px) {
  .main-content-contact .form-animation-wrapper {
    margin-bottom: 10%;
  }
}

.contact-form {
  height: 100%;
  border-radius: 10px;
  background: var(--cardColor);
  color: var(--darkerFontColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-form {
    width: 100%;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .contact-form {
    width: 70%;
  }
}
.contact-form .field-wrapper {
  width: 90%;
  margin-bottom: 0.1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: 2px solid lightgreen;
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-form .field-wrapper {
    height: 15%;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .contact-form .field-wrapper {
    height: 10%;
    flex-direction: row;
    margin-block: 0.2rem;
  }
}
.contact-form .field-wrapper label {
  font-size: clamp(1rem, 1.5vw, 26px);
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-form .field-wrapper label {
    width: 100%;
    height: fit-content;
    margin-bottom: 0.2rem;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .contact-form .field-wrapper label {
    width: 24%;
  }
}
.contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
  padding: 5px 0 3px 1ch;
  background: var(--navbarColor);
  font-size: clamp(0.9rem, 1.5vw, 20px);
  font-family: "Roboto Mono", monospace;
  color: var(--mainFontColor);
  border: none;
  resize: none;
}
.contact-form .field-wrapper input::placeholder, .contact-form .field-wrapper textarea::placeholder {
  color: var(--darkestFontColor);
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
    width: 90%;
    margin-left: 1rem;
    justify-self: stretch;
    align-self: stretch;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  .contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
    margin-left: auto;
    width: 75%;
    height: 80%;
  }
}
.contact-form .textarea-wrapper {
  height: 40%;
}
.contact-form .textarea-wrapper label {
  margin-top: 0.2rem;
  align-self: start;
}
.contact-form .button-wrapper {
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  height: 10%;
}
.contact-form .button-wrapper button {
  width: clamp(200px, 90%, 250px);
  height: 100%;
  color: var(--mainFontColor);
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  background: var(--buttonColor);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.contact-animation {
  height: 100%;
  aspect-ratio: 1/2;
  background: rgba(255, 255, 255, 0.5);
}
@media (min-width: 0px) and (max-width: 768px) {
  .contact-animation {
    display: none;
  }
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .scrolling-arrows {
  top: 1rem;
}

.single-section {
  position: relative;
  width: 100%;
  height: 100vh;
  border-top: 1px dashed var(--buttonColor);
}

.double-section {
  width: 90%;
  height: 200vh;
  border-top: 1px dashed var(--buttonColor);
}

.scrolling-arrows {
  position: absolute;
  width: 85%;
  height: 2rem;
  border: 1px dashed aqua;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scrolling-arrows svg {
  width: fit-content;
  height: 80%;
  fill: var(--scrollLogoColor);
}

.navbar-container {
  position: absolute;
  background: var(--navbarColor);
  width: 100%;
  z-index: -1;
}

#container1 {
  border-top-right-radius: 5px;
}
@media (min-width: 769px) and (max-width: 4000px) {
  #container1 {
    top: 15vh;
    left: 0;
    height: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  #container1 {
    top: 17vh;
    left: 0;
    height: 100vh;
  }
}

#container2 {
  border-bottom-right-radius: 5px;
}
@media (min-width: 769px) and (max-width: 4000px) {
  #container2 {
    top: -15vh;
    left: 0;
    height: 15vh;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  #container2 {
    top: -115vh;
    left: 0;
    height: 100vh;
  }
}

#logo {
  border: 2px dashed blue;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) and (max-width: 4000px) {
  #logo {
    width: 100%;
    height: 15vh;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  #logo {
    width: 100%;
    height: 15vh;
    transform: translateX(100%);
  }
}

#main-logo {
  height: 70%;
  width: fit-content;
}
#main-logo #tyre {
  fill: var(--darkerFontColor);
}
#main-logo #rim {
  fill: var(--mainFontColor);
}
#main-logo #bright-L, #main-logo #ambo {
  fill: var(--mainFontColor);
}
#main-logo #dark-L, #main-logo #ead {
  fill: var(--darkerFontColor);
}
#main-logo #back-rectangle {
  fill: var(--background);
}

#index {
  width: 95%;
  border: 2px dashed pink;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 768px) {
  #index {
    height: 14rem;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #index {
    height: 12rem;
  }
}
#index .link {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
#index .link .link-logo {
  width: 17%;
  height: fit-content;
  margin-inline: 1rem;
  fill: var(--mainFontColor);
}
#index .link .link-logo svg {
  width: 80%;
  height: fit-content;
  vertical-align: middle;
}
#index .link .link-text {
  display: block;
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  color: var(--mainFontColor);
  font-weight: 500;
  font-size: 110%;
}

#me {
  stroke: var(--mainFontColor);
  stroke-width: 20px;
  width: 100% !important;
}

#customization {
  width: 90%;
  margin-top: 2rem;
  border-top: 1px solid var(--darkestFontColor);
  background: darkgrey;
}
@media (min-width: 0px) and (max-width: 768px) {
  #customization {
    height: 16rem;
  }
}
@media (min-width: 769px) and (max-width: 4000px) {
  #customization {
    height: 15rem;
  }
}

#social {
  width: 90%;
  height: 8%;
  border-top: 1px solid var(--darkestFontColor);
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#social .social-logo {
  display: block;
  width: 20%;
  height: 45%;
}
#social .social-logo svg {
  height: 80%;
  width: 100%;
}
#social .social-logo #twitter-logo {
  fill: var(--twitterLogoColor);
}
#social .social-logo #linked-logo {
  fill: var(--linkedLogoColor);
}
#social .social-logo #github-logo {
  height: 100%;
  width: fit-content;
  fill: var(--githubLogoColor);
}

.dark-theme {
  --navbarColor: #000000CC;
  --cardColor: #00000088;
  --background: #313131;
  --buttonColor: #4da6ff;
  --mainFontColor: #E8E8E8;
  --darkerFontColor: #A0A0A0;
  --darkestFontColor: #4E4E4E;
  --someDarkColor: rgba(0, 0, 0, 0.4);
  --twitterLogoColor: #4da6ff;
  --linkedLogoColor: #0033cc;
  --githubLogoColor: #E8E8E8;
  --scrollLogoColor: #C6E3FF;
}

/*# sourceMappingURL=main-styles.css.map */
