:root {
  font-family: "Roboto Mono", monospace;
}
@media (min-width: 0px) and (max-width: 1024px) {
  :root {
    font-size: 13px;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  :root {
    font-size: 15px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  background: var(--background);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}
body::-webkit-scrollbar {
  width: 0.4rem;
  background: var(--generalBorderColor);
}
body::-webkit-scrollbar-thumb {
  background: var(--navbarColor);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
body::-webkit-scrollbar-thumb:hover {
  background: var(--buttonColor);
}

a {
  text-decoration: none;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background: black;
  transition: opacity 700ms ease-in;
}

#navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 300ms ease-out;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #navbar {
    top: 0;
    left: 0;
    width: clamp(0px, 50%, 350px);
    height: 100%;
    transform: translateX(-100%);
    z-index: 3;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #navbar {
    top: 0;
    left: 0;
    width: 20vw;
    height: 100vh;
  }
}

#navbar-tab {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 7vw;
  height: 10vh;
  background: var(--mainColor);
  border-radius: 0 5px 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar-tab svg {
  position: relative;
  left: 25%;
  fill: var(--scrollColor);
  width: 100%;
  height: 45%;
}
#navbar-tab svg path {
  transform-origin: center center;
  transition: transform 300ms ease;
}
#navbar-tab svg path:nth-child(1) {
  transform: skewX(35deg);
}
#navbar-tab svg path:nth-child(2) {
  transform: skewX(-35deg);
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #navbar-tab {
    display: none;
  }
}

#blackener {
  position: absolute;
  top: 0;
  left: 0;
  width: 98vw;
  height: 525vh;
  opacity: 0;
  pointer-events: none;
  background: black;
  z-index: -1;
  transition: opacity 500ms ease;
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #blackener {
    display: none;
  }
}

#main-section {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #main-section {
    width: 95vw;
    flex-direction: column;
    z-index: 1;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #main-section {
    width: 80%;
  }
}

#footer {
  height: 25vh;
  display: flex;
  align-items: center;
  background: var(--navbarColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #footer {
    width: 100vw;
    height: clamp(0px, 35vh, 300px);
    flex-direction: column;
    justify-content: start;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #footer {
    width: 80%;
    flex-direction: row;
    justify-content: center;
  }
}

.tyre {
  fill: var(--logoDarkColor);
}

.rim {
  fill: var(--logoLightColor);
}

.bright-L, .bright-ambo {
  fill: var(--logoLightColor);
}

.dark-L, .dark-ead {
  fill: var(--logoDarkColor);
}

.logo-smoke-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

#loader-logo {
  height: fit-content;
  width: 50%;
  opacity: 0;
}

#grouped-smoke-clouds {
  height: fit-content;
  width: 50%;
  opacity: 0;
  position: absolute;
}
#grouped-smoke-clouds .bright-cloud, #grouped-smoke-clouds .dark-cloud {
  opacity: 0;
}
#grouped-smoke-clouds .dark-cloud, #grouped-smoke-clouds .dark-trace {
  fill: #232323;
}
#grouped-smoke-clouds .bright-cloud, #grouped-smoke-clouds .bright-trace {
  fill: #3F3F3F;
}
#progress-1 {
  position: absolute;
  top: 85vh;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#progress-1 svg {
  width: 100%;
  height: fit-content;
  stroke: white;
  transform-origin: left;
  transform: scaleX(0);
}
#progress-1 span {
  width: 20%;
  height: 3rem;
  align-self: center;
  color: white;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-page {
  display: flex;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #main-page {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #main-page {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
#main-page .scrolling-arrows {
  bottom: 1rem;
}

.main-content-main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
  height: clamp(200px, 40%, 360px);
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-main-page {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-main-page {
    order: 1;
    width: 75%;
  }
}
.main-content-main-page .main-title {
  color: var(--titleColor);
  font-weight: 900;
  margin-top: 2rem;
  margin-bottom: 0;
  text-shadow: -8px 8px 4px var(--textShadowColor);
  word-spacing: -0.4ch;
  font-size: clamp(33px, 6vw, 115px);
  text-align: right;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-main-page .main-title {
    width: 97%;
    margin-right: 3%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-main-page .main-title {
    width: 100%;
    text-align: right;
  }
}
.main-content-main-page .subtitle {
  width: 100%;
  text-align: right;
  color: var(--subtitleColor);
  display: flex;
  margin-bottom: auto;
  font-size: clamp(1.2rem, 2vw, 20px);
  margin-top: 0.7rem;
}
.main-content-main-page .subtitle span {
  margin-inline: 0.5ch;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-main-page .subtitle {
    flex-direction: column;
    justify-content: center;
    align-items: end;
    margin-right: 3%;
  }
  .main-content-main-page .subtitle span:nth-child(2) {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-main-page .subtitle {
    flex-direction: row;
    justify-content: end;
    align-items: center;
  }
}
.main-content-main-page .button-wrapper {
  width: clamp(450px, 90%, 950px);
  height: 25%;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-main-page .button-wrapper {
    flex-direction: column;
    align-items: end;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-main-page .button-wrapper {
    flex-direction: row;
    align-items: center;
  }
}
.main-content-main-page .button-wrapper .call-to-action {
  width: clamp(215px, 42%, 420px);
  padding: 5px;
  border-radius: 1.5rem;
  font-size: clamp(1rem, 1.2vw, 1.8rem);
  text-align: center;
}

@media (min-width: 0px) and (max-width: 1024px) {
  #title-animation {
    width: 100%;
    height: 15%;
    align-self: flex-end;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #title-animation {
    order: 2;
    width: clamp(160px, 20%, 300px);
    aspect-ratio: 19/34;
  }
}
#title-animation canvas {
  width: 100%;
  height: 100%;
  transition: opacity 800ms ease-in;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.main-content-about-me {
  width: 95%;
  height: 95%;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.main-content-about-me .about-me-card {
  position: relative;
  width: 100%;
  background: var(--cardColor);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.5s ease;
}

#who-am-i {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i {
    justify-content: space-around;
    height: 43%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #who-am-i {
    height: 40%;
    justify-content: center;
  }
}
#who-am-i .info-wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  transition: opacity 200ms ease-out;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .info-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 4%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #who-am-i .info-wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-block: auto;
  }
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .info-wrapper .who-am-i-subtitle {
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #who-am-i .info-wrapper .who-am-i-subtitle {
    width: 27%;
  }
}
#who-am-i .info-wrapper .about-me-info {
  display: block;
  height: fit-content;
  color: var(--subtitleColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .info-wrapper .about-me-info {
    width: 92%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: clamp(1.1rem, 2.5vw, 2.6rem);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #who-am-i .info-wrapper .about-me-info {
    width: 60%;
    font-size: clamp(1rem, 1.2vw, 1.6rem);
  }
}

.scrolling-arrows-about-me {
  position: relative !important;
  width: 100% !important;
  margin-block: 1rem;
}

#skillset {
  display: flex;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #skillset {
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 2vh;
    height: 39%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #skillset {
    height: 40%;
    flex-direction: row;
    justify-content: center;
    padding-block: 4vh 7vh;
  }
}
#skillset svg {
  display: none;
  z-index: 1;
  opacity: 1;
  transition: opacity 200ms ease-out;
}
#skillset #logos-skillset {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 85%;
  width: fit-content;
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #skillset #logos-skillset {
    display: block;
  }
}
#skillset #mobile-logos-skillset {
  position: relative;
  width: 100%;
  height: fit-content;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #skillset #mobile-logos-skillset {
    display: block;
  }
}
#skillset .skillset-subtitle {
  align-self: flex-start;
  transition: opacity 300ms ease-out;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #skillset .skillset-subtitle {
    width: 90%;
    margin-left: 5%;
    text-align: center;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #skillset .skillset-subtitle {
    width: 33%;
  }
}

.skillset-info-wrapper {
  height: fit-content;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: var(--subtitleColor);
  z-index: 2;
  opacity: 1;
  transition: opacity 200ms ease-out;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .skillset-info-wrapper {
    width: 85%;
    margin-left: 10%;
    margin-top: 5%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .skillset-info-wrapper {
    width: 60%;
  }
}
.skillset-info-wrapper .skill-subtitle {
  width: 50%;
  height: fit-content;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .skillset-info-wrapper .skill-subtitle {
    font-size: clamp(1.2rem, 3vw, 2.1rem);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .skillset-info-wrapper .skill-subtitle {
    font-size: clamp(1rem, 1.4vw, 2rem);
  }
}
.skillset-info-wrapper ul {
  width: 90%;
  margin-left: clamp(0px, 7vw, 35px);
  margin-block: 1% 4%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .skillset-info-wrapper ul {
    font-size: clamp(0.9rem, 2vh, 2rem);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .skillset-info-wrapper ul {
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
  }
}

.contracted-subtitle {
  display: block;
  position: absolute;
  width: 95%;
  color: var(--interTitleColor);
  font-weight: 900;
  word-spacing: -0.1ch;
  line-height: 1.5ch;
  opacity: 0;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .contracted-subtitle {
    font-size: clamp(28px, 6vw, 60px);
    text-align: right;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contracted-subtitle {
    font-size: clamp(20px, 2.3vw, 40px);
  }
}

.about-me-subtitle {
  display: block;
  height: fit-content;
  color: var(--subtitleColor);
  font-weight: 900;
  word-spacing: -0.1ch;
  line-height: 1.5ch;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .about-me-subtitle {
    font-size: clamp(30px, 6vw, 60px);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .about-me-subtitle {
    font-size: clamp(30px, 2.7vw, 60px);
  }
}

#who-am-i .animation-wrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 4.5/1;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper {
    height: 22%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #who-am-i .animation-wrapper {
    justify-content: flex-start;
    align-items: center;
  }
}
#who-am-i .animation-wrapper svg {
  position: absolute;
  height: fit-content;
}
#who-am-i .animation-wrapper .sky {
  width: 100%;
  top: 0;
  z-index: 1;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper .sky {
    display: none;
  }
}
#who-am-i .animation-wrapper .buildings {
  width: 100%;
  bottom: 13%;
  z-index: 4;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper .buildings {
    display: none;
  }
}
#who-am-i .animation-wrapper #buildings-3, #who-am-i .animation-wrapper #buildings-4 {
  bottom: 10%;
}
#who-am-i .animation-wrapper #buildings-2, #who-am-i .animation-wrapper #buildings-4 {
  left: 100%;
}
#who-am-i .animation-wrapper .car {
  width: 62%;
  bottom: -6%;
  left: 28%;
  z-index: 5;
  /* display: none; */
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper .car {
    width: 94%;
    left: 10%;
  }
}
#who-am-i .animation-wrapper .road {
  width: 100%;
  bottom: 0;
  z-index: 2;
  /* display: none; */
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper .road {
    width: fit-content;
    height: 50%;
  }
}
#who-am-i .animation-wrapper .roadlines {
  bottom: 26%;
  z-index: 3;
  width: 95%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper .roadlines {
    bottom: 32%;
  }
}
#who-am-i .animation-wrapper #roadlines-2, #who-am-i .animation-wrapper #roadlines-4 {
  left: 100%;
}
#who-am-i .animation-wrapper #smoke-front {
  width: 43%;
  bottom: 0%;
  left: 2%;
  z-index: 6;
  /* display: none; */
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper #smoke-front {
    width: 61%;
    bottom: 2%;
    left: -26%;
  }
}
#who-am-i .animation-wrapper #smoke-rear {
  width: 33%;
  bottom: 6%;
  left: 2%;
  z-index: 6;
  /* display: none; */
}
@media (min-width: 0px) and (max-width: 1024px) {
  #who-am-i .animation-wrapper #smoke-rear {
    width: 54%;
    bottom: 4%;
    left: -33%;
  }
}

#my-portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-portfolio-title {
  display: block;
  width: 80%;
  align-self: flex-end;
  margin: 1rem 5% auto 0;
  color: var(--titleColor);
  text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25);
  font-size: clamp(33px, 6vw, 115px);
  word-spacing: -0.4ch;
  text-align: right;
  font-weight: 900;
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .my-portfolio-title {
    display: none;
  }
}

.main-content-my-portfolio {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-my-portfolio {
    justify-content: start;
    height: 70%;
    margin-bottom: 5rem;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-my-portfolio {
    justify-content: space-around;
    height: 90%;
  }
}
.main-content-my-portfolio .a-project {
  position: relative;
  width: 100%;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-my-portfolio .a-project {
    height: 75%;
    border-radius: 7px;
    overflow: hidden;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-my-portfolio .a-project {
    height: 46%;
    border-radius: 10px;
  }
}

#another-one {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--anotherProjectTextColor);
  display: none;
}
#another-one img {
  height: clamp(0px, 85%, 400px);
}

#tutdl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--tutdlBackgroundColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl {
    justify-content: start;
    align-items: start;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl {
    justify-content: center;
    align-items: center;
  }
}
#tutdl canvas {
  height: 95%;
  align-self: flex-end;
  transition: opacity 400ms ease-in;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl canvas {
    position: absolute;
    aspect-ratio: 2/3;
    height: 90%;
    left: 58%;
    align-self: center;
    justify-self: center;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl canvas {
    aspect-ratio: 57/50;
  }
}
#tutdl .project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl .project-description {
    width: clamp(100px, 53%, 430px);
    height: 100%;
    align-items: flex-start;
    margin-left: 3%;
    background: var(--tutdlBackgrondColor);
    box-shadow: 10px 0px 20px var(--tutdlBackgrondColor);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl .project-description {
    width: clamp(200px, 60%, 680px);
    height: 100%;
    margin-inline: 0.7% 0.5rem;
    align-items: start;
  }
}
#tutdl .project-description #tutdl-logo {
  height: fit-content;
}
#tutdl .project-description #tutdl-logo .tutdl-condensed-logo path {
  stroke: linear var(--tutdlTextColor);
  fill: var(--tutdlTextColor);
}
#tutdl .project-description #tutdl-logo .tutdl-separator-line {
  stroke: var(--tutdlTextColor);
}
#tutdl .project-description #tutdl-logo .tutdl-name path {
  fill: var(--tutdlTextColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl .project-description #tutdl-logo {
    width: 100%;
    margin-bottom: 10%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl .project-description #tutdl-logo {
    width: 24vw;
    margin-left: 1rem;
  }
}
#tutdl .project-description .slogan {
  display: block;
  font-weight: 500;
  font-style: italic;
  color: var(--tutdlTextColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl .project-description .slogan {
    font-size: clamp(0.8rem, 1.7vw, 2rem);
    margin-left: 5%;
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl .project-description .slogan {
    font-size: clamp(0.9rem, 1vw, 1.3rem);
    margin-top: 2%;
    margin-left: 5%;
  }
}
#tutdl .project-description .learn-more {
  font-size: clamp(0.9rem, 1.2vw, 1.5rem);
}
@media (min-width: 0px) and (max-width: 1024px) {
  #tutdl .project-description .learn-more {
    width: 87%;
    align-self: start;
    margin-top: 5rem;
    margin-left: 5%;
    padding-block: 5px;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #tutdl .project-description .learn-more {
    padding: 0.2rem 1rem;
    align-self: flex-end;
    margin-top: 3vh;
    margin-right: 8%;
  }
}

.main-content-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 80%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-contact {
    height: clamp(300px, 80%, 900px);
    margin-top: auto;
    margin-bottom: 5%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-contact {
    margin-top: 5%;
  }
}
.main-content-contact .contact-title {
  display: block;
  width: 100%;
  height: fit-content;
  color: var(--titleColor);
  font-weight: 900;
  text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25);
  word-spacing: -0.4ch;
  line-height: 1.5ch;
  margin-bottom: 6vh;
  font-size: clamp(40px, 5.8vw, 110px);
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-contact .contact-title {
    text-align: right;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .main-content-contact .contact-title {
    text-align: left;
  }
}
.main-content-contact .form-animation-wrapper {
  width: 100%;
  height: clamp(270px, 70%, 540px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .main-content-contact .form-animation-wrapper {
    margin-bottom: 10%;
  }
}

.contact-form {
  height: 100%;
  border-radius: 10px;
  background: var(--cardColor);
  color: var(--subtitleColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .contact-form {
    width: 100%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contact-form {
    width: 70%;
  }
}
.contact-form .field-wrapper {
  width: 90%;
  padding-block: 3px;
  display: flex;
  justify-content: start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .contact-form .field-wrapper {
    height: 18%;
    flex-direction: column;
    margin-block: 0.1rem;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contact-form .field-wrapper {
    height: 10%;
    flex-direction: row;
    margin-block: 0.5%;
  }
}
.contact-form .field-wrapper label {
  font-size: 1.3rem;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .contact-form .field-wrapper label {
    width: 95%;
    height: fit-content;
    margin-bottom: 0.2rem;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contact-form .field-wrapper label {
    width: clamp(140px, 16%, 145px);
  }
}
.contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
  padding: 5px 0 3px 1ch;
  background: var(--fieldColor);
  font-size: 1.2rem;
  font-family: "Roboto Mono", monospace;
  color: var(--regularTextColor);
  border: none;
  resize: none;
}
.contact-form .field-wrapper input::placeholder, .contact-form .field-wrapper textarea::placeholder {
  color: var(--placeholderTextColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  .contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
    width: 90%;
    margin-left: 1rem;
    justify-self: stretch;
    align-self: stretch;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contact-form .field-wrapper input, .contact-form .field-wrapper textarea {
    margin-left: auto;
    flex: 2 2 82%;
    height: 100%;
  }
}
.contact-form .textarea-wrapper {
  height: 40%;
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .contact-form .textarea-wrapper label {
    align-self: start;
  }
}
.contact-form .button-wrapper {
  justify-content: end;
  align-items: center;
  margin-top: 1rem;
  height: 10%;
}
.contact-form .button-wrapper button {
  width: clamp(200px, 90%, 300px);
  height: 100%;
  font-size: 1.2rem;
  border-radius: 3rem;
}

#contact-animation {
  height: 100%;
  aspect-ratio: 6/7;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #contact-animation {
    display: none;
  }
}
#contact-animation canvas {
  width: 100%;
  height: 100%;
  transition: opacity 800ms ease-in;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#contact .scrolling-arrows {
  top: 1rem;
}

.single-section {
  position: relative;
  width: 100%;
  height: 100vh;
}

.double-section {
  width: 90%;
  height: 200vh;
}

.scrolling-arrows {
  position: absolute;
  width: 85%;
  height: 1.6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.scrolling-arrows .scrolling-arrows-svg {
  width: 2rem;
  height: 100%;
  fill: var(--scrollColor);
}
.scrolling-arrows .scrolling-arrows-svg .right {
  transform: skewY(-20deg);
  transform-origin: right center;
}
.scrolling-arrows .scrolling-arrows-svg .left {
  transform: skewY(20deg);
  transform-origin: left center;
}

.emphasis-button {
  font-family: "Roboto Mono", monospace;
  color: var(--buttonTextColor);
  background: var(--buttonColor);
  cursor: pointer;
  border: none;
  border-radius: 1rem;
}
.emphasis-button:hover {
  background: var(--buttonHoverColor);
}

#navbar-background {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar-container {
  background: var(--navbarColor);
  width: 100%;
}

#container1 {
  height: 0;
  border-bottom-right-radius: 10px;
}

#container2 {
  height: 80%;
  border-top-right-radius: 10px;
}

#gap {
  width: 100%;
  height: 20%;
  transition: background 400ms ease-out;
}

@media (min-width: 0px) and (max-width: 1024px) {
  .gap-background {
    background: linear-gradient(90deg, var(--gapColorLeft) 85%, var(--gapColorRight) 100%);
  }
}

#logo {
  width: 100%;
  height: 15vh;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #logo {
    transform: translateX(85%);
    transition: transform 400ms ease-out;
  }
}

#navbar-main-logo {
  height: 70%;
  width: fit-content;
  transition: transform 500ms ease;
  cursor: pointer;
}
#navbar-main-logo .dark-ead, #navbar-main-logo .bright-ambo, #navbar-main-logo .bright-L, #navbar-main-logo .dark-L, #navbar-main-logo .full-tyre-mask-group {
  transition: transform 500ms ease, opacity 300ms ease;
}
#navbar-main-logo:hover {
  transform: scale(1) !important;
}
#navbar-main-logo:hover .dark-ead, #navbar-main-logo:hover .bright-ambo {
  opacity: 1 !important;
  transform: scale(1) !important;
}
#navbar-main-logo:hover .dark-L {
  transform: translate(0) scale(1) !important;
}
#navbar-main-logo:hover .bright-L, #navbar-main-logo:hover .full-tyre-mask-group {
  transform: scale(1);
}

#index {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
}
@media (min-width: 0px) and (max-width: 1024px) {
  #index {
    height: 25%;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  #index {
    height: 20%;
  }
}
#index .link {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}
#index .link .link-logo {
  width: 20%;
  height: 100%;
  margin-right: 1rem;
  fill: var(--navbarFontColor);
  display: flex;
  justify-content: center;
  align-items: center;
}
#index .link .link-logo svg {
  width: fit-content;
  height: clamp(0px, 90%, 45px);
}
#index .link .link-text {
  width: fit-content;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
  color: var(--navbarFontColor);
  font-weight: 500;
  font-size: clamp(1rem, 2vh, 2rem);
}

#me {
  stroke: var(--navbarFontColor);
  stroke-width: 15px;
}

#customization {
  width: 90%;
  height: 30%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  border-top: 1px solid var(--generalBorderColor);
}

.change-theme {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.change-theme span {
  color: var(--titleColor);
  font-weight: 500;
  font-size: clamp(1rem, 2vh, 2rem);
}
.change-theme .switch-container-div {
  position: relative;
  width: clamp(6rem, 40%, 9rem);
  height: clamp(2rem, 35%, 3rem);
  margin-left: 10%;
  border: 2px solid var(--switchContainerColor);
  border-radius: 2px;
  overflow: hidden;
  cursor: pointer;
}
.change-theme .inside-switch-div {
  position: absolute;
  left: 0;
  width: 180%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: left 300ms ease-in;
  pointer-events: none;
}
.change-theme .mode-span {
  width: 80%;
  height: 100%;
  text-align: center;
  text-justify: center;
  color: blue;
  pointer-events: none;
}
.change-theme .is-switch-light {
  background-color: var(--switchLightBackground);
  color: var(--switchLightTextColor);
}
.change-theme .is-switch-dark {
  background-color: var(--switchDarkBackground);
  color: var(--switchDarkTextColor);
}
.change-theme .switch-leg-div {
  width: 20%;
  height: 100%;
  background-color: var(--switchLegColor);
  border-left: 2px solid var(--switchContainerColor);
  border-right: 2px solid var(--switchContainerColor);
  pointer-events: none;
}

.change-background {
  display: none;
}

#language {
  width: 90%;
  height: fit-content;
  padding-block: 1.5rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--generalBorderColor);
}

.change-language {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.change-language span {
  color: var(--titleColor);
  font-weight: 500;
  font-size: clamp(1rem, 2vh, 2rem);
}

.drop-container-div {
  width: clamp(8rem, 50%, 10rem);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-end;
  margin-left: 10%;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .drop-container-div {
    margin-left: 8%;
  }
}

.drop-display-container-div {
  width: 100%;
  height: fit-content;
  border: 2px solid var(--switchContainerColor);
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding-block: 5px;
}
.drop-display-container-div .drop-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.drop-display-container-div .drop-arrow {
  width: 20%;
  height: 100%;
}

.drop-option-container-div {
  width: clamp(6.5rem, 90%, 9.5rem);
  height: fit-content;
  border: 1px solid var(--generalBorderColor);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: height 500ms ease;
  overflow-y: hidden;
}
.drop-option-container-div span {
  display: block;
  width: 100%;
  height: fit-content;
  cursor: pointer;
  opacity: 0.6;
  padding-block: 2px;
}
.drop-option-container-div span:hover {
  opacity: 1;
  background: var(--dropHighlightColor);
}

.is-dropdown-closed {
  border: none !important;
  height: 0 !important;
  pointer-events: none !important;
}

#social {
  width: 90%;
  height: 8%;
  border-top: 1px solid var(--generalBorderColor);
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#social .social-logo {
  display: block;
  width: 20%;
  height: 45%;
}
#social .social-logo svg {
  height: 80%;
  width: 100%;
}
#social .social-logo #twitter-logo {
  fill: var(--twitterLogoColor);
}
#social .social-logo #linked-logo {
  fill: var(--linkedLogoColor);
}
#social .social-logo #github-logo {
  height: 100%;
  width: fit-content;
  fill: var(--githubLogoColor);
}

.signature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .signature {
    width: 100%;
    height: 50%;
    order: 2;
    justify-content: start;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .signature {
    width: 40%;
    height: 70%;
    border-right: 1px solid var(--generalBorderColor);
    justify-content: center;
  }
}
.signature svg {
  height: 100%;
  width: fit-content;
  fill: var(--signatureFillColor);
}

.footer-info {
  display: flex;
  font-size: clamp(0.5rem, 1.5vw, 1rem);
  color: var(--smallTextColor);
}
@media (min-width: 0px) and (max-width: 1024px) {
  .footer-info {
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    margin-block: 2vh 3vh;
    font-size: clamp(0.9rem, 2vw, 1.4rem);
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .footer-info {
    width: 60%;
    height: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
.footer-info div {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 1rem;
}
.footer-info div span {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
.footer-info div a {
  display: block;
  margin-top: 0.2rem;
  color: var(--linkTextColor);
}
.footer-info div .copyright {
  margin-top: auto;
}
.footer-info div .copyright span {
  display: inline;
  font-size: clamp(1.1rem, 2vw, 1.5rem);
  margin-right: 0.8ch;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .footer-info div .copyright span {
    font-size: clamp(1.3rem, 2vw, 1.5rem);
  }
}

.is-loader-invisible {
  opacity: 0 !important;
  pointer-events: none !important;
}

.is-loading-website {
  overflow: hidden !important;
}
.is-loading-website::-webkit-scrollbar {
  opacity: 0 !important;
  pointer-events: none !important;
}

.is-about-me-contracted {
  padding: 0 !important;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .is-about-me-contracted {
    height: 9% !important;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .is-about-me-contracted {
    height: 6% !important;
  }
}
.is-about-me-contracted .info-wrapper {
  opacity: 0 !important;
}
.is-about-me-contracted .contracted-subtitle {
  opacity: 1 !important;
}

.is-skillset-contracted {
  padding: 0 !important;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .is-skillset-contracted {
    height: 5% !important;
  }
}
@media (min-width: 1025px) and (max-width: 4000px) {
  .is-skillset-contracted {
    height: 6% !important;
  }
}
.is-skillset-contracted .skillset-info-wrapper {
  opacity: 0 !important;
  pointer-events: none;
}
.is-skillset-contracted .skillset-subtitle {
  opacity: 0 !important;
  pointer-events: none;
}
.is-skillset-contracted svg {
  opacity: 0 !important;
  pointer-events: none;
}
.is-skillset-contracted .contracted-subtitle {
  opacity: 1 !important;
}

.light-theme .night {
  display: none !important;
}

.dark-theme .day {
  display: none !important;
}

.is-blackener-enabled {
  pointer-events: all !important;
  opacity: 0.5 !important;
  z-index: 2 !important;
}

.is-main-section-disabled {
  pointer-events: none !important;
}

.is-scrolling-disabled {
  overflow: hidden !important;
}

.is-navbar-expanded {
  transform: translateX(0) !important;
}
@media (min-width: 0px) and (max-width: 1024px) {
  .is-navbar-expanded #logo {
    transform: translateX(0) !important;
  }
}
.is-navbar-expanded .navbar-container {
  box-shadow: 3px 0px 1px var(--generalBorderColor);
}
.is-navbar-expanded #navbar-tab {
  box-shadow: 3px 0px 1px var(--generalBorderColor);
}
.is-navbar-expanded #navbar-tab svg {
  left: -25%;
}
.is-navbar-expanded #navbar-tab path:nth-child(1) {
  transform: skewX(-35deg);
}
.is-navbar-expanded #navbar-tab path:nth-child(2) {
  transform: skewX(35deg);
}

.is-logo-contracted {
  transform: scale(0.9) !important;
}
.is-logo-contracted .dark-ead, .is-logo-contracted .bright-ambo {
  opacity: 0 !important;
  transform: scale(0) !important;
}
.is-logo-contracted .dark-L {
  transform: translate(-26%, -30.2%) scale(1.25) !important;
}
.is-logo-contracted .bright-L, .is-logo-contracted .full-tyre-mask-group {
  transform: scale(1.25);
}

.is-animation-loading {
  opacity: 0 !important;
}

.shared-colors {
  --loaderBackgroundColor: hsla(0, 0%, 0%, 1);
  --switchContainerColor: hsla(0, 0%, 35%, 1);
  --switchLegColor: hsla(0, 0%, 69%, 1);
  --switchLightBackground: hsla(0, 0%, 100%, 1);
  --switchLightTextColor: hsla(0, 0%, 0%, 1);
  --switchDarkBackground: hsla(0, 0%, 0%, 1);
  --switchDarkTextColor: hsla(0, 0%, 100%, 1);
  --buttonColor: hsla(209, 100%, 50%, 1);
  --buttonHoverColor: hsla(209, 100%, 36%, 1);
  --buttonTextColor: hsla(0, 0%, 100%, 1);
  --tutdlBackgroundColor: radial-gradient(66.65% 155.05% at 66.65% 41.63%, #140091 0.11%, #090040 74.01%);
  --tutdlTextColor: hsla(0, 0%, 100%, 1);
  --anotherProjectBackgroundColor: hsla(22, 82%, 44%, 1);
  --anotherProjectTextColor: hsla(0, 0%, 100%, 1);
}

.dark-theme {
  --mainColor: black;
  --navbarColor: hsla(0, 0%, 0%, 0.8);
  --gapColorLeft: hsl(209, 100%, 35%);
  --gapColorRight: hsla(0, 0%, 0%, 0);
  --generalBorderColor: hsla(0, 0%, 28%, 1);
  --logoLightColor: hsla(0, 0%, 83%, 1);
  --logoDarkColor: hsla(0, 0%, 46%, 1);
  --navbarFontColor: hsla(0, 0%, 83%, 1);
  --twitterLogoColor: hsla(216, 86%, 59%, 1);
  --linkedLogoColor: hsla(223, 100%, 50%, 1);
  --githubLogoColor: hsla(0, 0%, 100%, 1);
  --cardColor: hsla(0, 0%, 0%, 0.6);
  --fieldColor: hsla(0, 0%, 0%, 0.8);
  --background: linear-gradient(99.72deg, #313131 3.26%, #646464 97.58%);
  --scrollColor: hsla(209, 100%, 89%, 1);
  --signatureFillColor: hsla(0, 0%, 63%, 1);
  --titleColor: hsla(0, 0%, 92%, 1);
  --subtitleColor: hsla(0, 0%, 83%, 1);
  --interTitleColor: hsla(0, 0%, 50%, 1);
  --regularTextColor: hsla(0, 0%, 63%, 1);
  --smallTextColor: hsla(0, 0%, 63%, 1);
  --placeholderTextColor: hsla(0, 0%, 63%, 1);
  --linkTextColor: hsla(209, 100%, 50%, 1);
  --textShadowColor: hsla(0, 0%, 0%, 0.25);
  --logoShadowColor: hsla(0, 0%, 0%, 0.25);
  --dropHighlightColor: hsla(209, 100%, 50%, 0.5);
}

.light-theme {
  --mainColor: white;
  --navbarColor: hsla(0, 0%, 100%, 0.9);
  --gapColorLeft: hsl(209, 84%, 80%);
  --gapColorRight: hsla(0, 0%, 100%, 0);
  --generalBorderColor: hsla(0, 0%, 61%, 1);
  --logoLightColor: hsla(0, 0%, 55%, 1);
  --logoDarkColor: hsla(0, 0%, 20%, 1);
  --navbarFontColor: hsla(0, 0%, 41%, 1);
  --twitterLogoColor: hsla(216, 86%, 59%, 1);
  --linkedLogoColor: hsla(223, 100%, 50%, 1);
  --githubLogoColor: hsla(0, 0%, 32%, 1);
  --cardColor: hsla(0, 0%, 100%, 0.6);
  --fieldColor: hsla(0, 0%, 90%, 0.9);
  --background: linear-gradient(100.45deg, #c4c4c4 6.49%, #F4F4F4 97.66%);
  --scrollColor: hsla(209, 84%, 60%, 1);
  --signatureFillColor: hsla(0, 0%, 40%, 1);
  --titleColor: hsla(0, 0%, 44%, 1);
  --subtitleColor: hsla(0, 0%, 50%, 1);
  --interTitleColor: hsla(0, 0%, 63%, 1);
  --regularTextColor: hsla(0, 0%, 63%, 1);
  --smallTextColor: hsla(0, 0%, 63%, 1);
  --linkTextColor: hsla(209, 100%, 50%, 1);
  --placeholderTextColor: hsla(0, 0%, 63%, 1);
  --textShadowColor: hsla(0, 0%, 0%, 0.25);
  --logoShadowColor: hsla(0, 0%, 0%, 1);
  --dropHighlightColor: hsla(209, 100%, 50%, 0.5);
}

/*# sourceMappingURL=main-styles.css.map */
