.is-logo-contracted
  transform: scale(0.9) !important
  .dark-ead, .bright-ambo
    opacity: 0 !important
    transform: scale(0) !important

  .dark-L
    transform: translate(-26%, -30.2%) scale(1.25) !important

  .bright-L, .full-tyre-mask-group
    transform: scale(1.25)
  