.main-content-contact
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  border: 2px dashed red

  width: 90%
  height: 80%

  @include screen-width($phone...)
    height: clamp(300px, 80%, 900px)
    margin-top: auto
    margin-bottom: 5%

  @include screen-width($desktop...)
    margin-top: 5%

  .contact-title
    display: block
    width: 100%
    height: fit-content
    color: var(--mainFontColor)
    font-weight: 900
    border: 2px dashed yellow
    text-shadow: -8px 8px 4px rgba(0, 0, 0, 0.25)
    word-spacing: -0.4ch
    line-height: 1.5ch
    margin-bottom: auto
    font-size: clamp(40px, 6vw, 110px)

    @include screen-width($phone...)
      text-align: right

    @include screen-width($desktop...)
      text-align: left

  .form-animation-wrapper
    width: 100%
    height: clamp(270px, 65%, 540px)

    display: flex
    flex-direction: row
    align-items: center
    justify-content: start
    border: 2px dashed aqua
    @include screen-width($phone...)
      margin-bottom: 10%

.contact-form
  height: 100%
  border-radius: 10px
  background: var(--cardColor)
  color: var(--darkerFontColor)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  @include screen-width($phone...)
    width: 100%

  @include screen-width($desktop...)
    width: 70%
  
  .field-wrapper
    width: 90%
    padding-block: 3px
    display: flex
    justify-content: start
    align-items: center
    border: 2px solid lightgreen
    
    @include screen-width($phone...)
      height: 18%
      flex-direction: column
      margin-block: 0.1rem

    @include screen-width($desktop...)
      height: 10%
      flex-direction: row
      margin-block: 0.5%

    label
      // FIX THIS!!!
      font-size: clamp(1rem, 2vw, 1.3rem)
      @include screen-width($phone...)
        width: 95%
        height: fit-content
        margin-bottom: 0.2rem
      @include screen-width($desktop...)
        width: clamp(140px, 16%, 145px)

    input, textarea
      padding: 5px 0 3px 1ch
      background: var(--navbarColor)
      // FIX THIS!!!
      font-size: clamp(1rem, 2.2vw, 1.2rem)
      font-family: 'Roboto Mono', monospace
      color: var(--mainFontColor)
      border: none
      resize: none
      &::placeholder
        color: var(--darkestFontColor)

      @include screen-width($phone...)
        width: 90%
        margin-left: 1rem
        justify-self: stretch
        align-self: stretch
      @include screen-width($desktop...)
        margin-left: auto
        flex: 2 2 82%
        height: 100%

  .textarea-wrapper
    height: 40%
    label
      align-self: start

  .button-wrapper
    justify-content: end
    align-items: center
    margin-top: 1rem
    height: 10%
    
    button
      width: clamp(200px, 90%, 300px)
      height: 100%
      font-size: 1.2rem
      border-radius: 3rem

.contact-animation
  height: 100%
  aspect-ratio: 1/2.3
  background: rgba(255, 255, 255, 0.5)
  @include screen-width($phone...)
    display: none