.main-content-my-portfolio
  display: flex
  flex-direction: column
  align-items: center
  // border: 2px dashed lightgreen

  @include screen-width($phone...)
    width: 92%
    justify-content: space-between
    height: 75%
    margin-bottom: 3rem

  @include screen-width($desktop...)
    width: 90%
    justify-content: space-around
    height: 90%

  .a-project
    position: relative
    width: 100%
    overflow: hidden

    // border: 2px dashed aqua

    @include screen-width($phone...)
      height: 49%
      border-radius: 7px

    @include screen-width($desktop...)
      height: 46%
      border-radius: 10px

