.main-content-my-portfolio
  width: 90%
  display: flex
  flex-direction: column
  align-items: center

  // border: 2px dashed lightgreen

  @include screen-width($phone...)
    justify-content: start
    height: 70%
    margin-bottom: 5rem

  @include screen-width($desktop...)
    justify-content: space-around
    height: 90%

  .a-project
    position: relative
    width: 100%
    overflow: hidden

    // border: 2px dashed aqua

    @include screen-width($phone...)
      height: 75%
      border-radius: 7px
      overflow: hidden

    @include screen-width($desktop...)
      height: 46%
      border-radius: 10px

#another-one
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center
  background: var(--anotherProjectTextColor)
  display: none

  img
    height: clamp(0px, 85%, 400px)
    // border: 2px solid blue

    // @include screen-width($phone...)
    //   position: absolute
    //   width: fit-content
    //   height: 90%
    //   left: 58%
    //   align-self: center
    //   justify-self: center

    // @include screen-width($desktop...)
      // margin-left: 1%

