<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Agradecimientos para el joven</title>
</head>
<body>
  <div class="text left">
    <div class="paragraphs">
      <span class="title">Buen día, joven</span>
      <span>Siendo ud. uno de los jóvenes a quien yo más aprecio y considero como amigo, y aunque no haya tenido mucho que ver con este proyecto, quise dedicar esta pequeña sección para agradecerle por quién es, por todos esos años de amistad, dibujo, desorden y buenos recuerdos.</span>
      <span>Aproveche el tiempo todo lo que pueda joven (sobre todo ahorita que no tiene que ir a la universidad) y haga algo con todo lo que ya tiene, que la vida va pasando, y cuando uno menos lo piensa ya tiene varias décadas encima y varias cosas que lamenta no haber hecho.</span>
      <span>Tenemos pendiente varias salidas. Téngame paciencia que acabo de entrar a la universidad y ya están tirando duro como un hpta.</span>
      <span class="signature">
        Con cariño, para el joven<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="https://th.bing.com/th/id/OIP.eLJwcWf2Y5B1VGdmCtlR2wHaHn?pid=ImgDet&rs=1" alt="" class="is-image-being-shown">
    <img src="https://c.pxhere.com/photos/32/6f/cat_curious_mackerel_fur_cat_face_animal_world_view_cute-764501.jpg!d" alt="">
    <img src="https://th.bing.com/th/id/OIP.b2cmYly22ETpmRGD7cr1nwHaEo?pid=ImgDet&rs=1" alt="">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>