<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/styles/main-styles.css">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Acknowledgements template</title>
</head>
<body>
  <div class="text left">
    <span class="title">Hola, dulzura</span>
    <div class="paragraphs">
      <span>Quise crear esta pequeña sección para darte las gracias por todo tu apoyo incondicional y entusiasmo, no sólo en el desarrollo de este proyecto, sino por todo el que me has dado a lo largo de todo el tiempo que llevamos de conocidos, de amigos, y de... más que amigos.</span>
      <span>Aunque creas que no lo mereces porque, bueno, yo puse todo el código y la lógica y todas esas cosas que son bien aburridas; tú pusiste de tu tiempo, tus recursos, tus ganas, tu cariño, tu dedicación, tu exigencia, tu interés y tu persona a mi servicio; y creo que eso es igual o incluso más importante que todo lo demás, porque lo que pusiste tú no sólo se puede aplicar a una página web: se puede aplicar a la vida entera.</span>
      <span>No tengo certeza de si me incluirás en tus proyectos en el futuro. De lo que sí estoy seguro, es que yo también estaré a tu servicio para lo que necesites, cuando lo necesites y como lo necesites, porque tengo el gusto de hacerlo y porque a eso vinimos a este mundo: a construir. Y qué mejor que construir al lado de las personas que uno quiere.</span>
      <span>Muchas gracias, Manu. Por literalmente todo.<br>Ahora estamos en Internet.</span>
      <span class="signature">
        Con todo mi amor y cariño<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="https://th.bing.com/th/id/OIP.eLJwcWf2Y5B1VGdmCtlR2wHaHn?pid=ImgDet&rs=1" alt="" class="is-image-being-shown">
    <img src="https://c.pxhere.com/photos/32/6f/cat_curious_mackerel_fur_cat_face_animal_world_view_cute-764501.jpg!d" alt="">
    <img src="https://th.bing.com/th/id/OIP.b2cmYly22ETpmRGD7cr1nwHaEo?pid=ImgDet&rs=1" alt="">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>