<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Para mi familia</title>
</head>
<body>
  <div class="text left">
    <div class="paragraphs">
      <span class="title">Hola, familia</span>
      <span>Quise crear esta pequeña sección para agradecerles, no sólo por todo el apoyo y recursos que me brindaron durante la realización de este proyecto, sino por todo lo que me han dado durante toda mi vida: Desde el interés que cada uno pone por las cosas que hago y los almuerzos que prepara mi mamá temprano en la mañana, hasta mi carrera técnica y profesional, y el espacio que tengo en mi habitación para estudiar, leer y construir cosas; ustedes han sido una parte fundamental para que yo pueda hacer lo que estoy haciendo, y estoy tremendamente agradecido por eso.</span>
      <span>Papá, mamá y amiguito, muchas gracias.</span>
      <span class="signature">
        <br>Con cariño ❤<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="/acknowledgements/img/familia.png" alt="" style="height: 90%;">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>