<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Sistemas llama plata</title>
</head>
<body>
  <div class="text left">
    <div class="paragraphs">
      <span class="title">Cumbre del chimbo joven</span>
      <span>Equipo de SLP (Sistemas Llama Plata), quise hacer esta pequeña sección para darles las gracias por todo el interés que pusieron en la realización de este proyecto, y más que eso, por quienes son como mis amigos, y porque desde chingas, todos eso momentos en Halo... Inolvidables.</span>
      <span>Por lo que sé de ustedes, y por las carreras que decidieron tomar, puedo decir que tienen la capacidad de realizar varias cosas grandes e interesantes, cosas que generen impacto y valor para las personas que viven ahora y las que vivirán después. Busquen ideas o proyectos que los apasionen, y aprovechen el tiempo: estaremos muertos más pronto de lo que uno cree.</span>
      <span>No importa si me van a incluir en sus futuros proyectos o no, yo estaré por siempre para lo que necesiten: Desde ir a tomar granizo, jugar Halo o tomar pola, hasta crear y construir cosas chimbas, por grandes o pequeñas que sean.</span>
      <span class="signature">
        Con cariño, a los jóvenes ❤<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="/acknowledgements/img/sistemas-llama-plata.png" style="height: 80%;" alt="">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>