<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/src/styles/main-styles.css">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Acknowledgements template</title>
</head>
<body>
  <div class="text left">
    <span class="title">Hello man</span>
    <div class="paragraphs">
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, cum?</span>
      <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, dolores eveniet quasi dolore aperiam, quos enim velit provident hic possimus odio impedit laborum molestias facilis!</span>
      <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur minima dolorem nobis laudantium. Impedit voluptates nam odit iste, cum quisquam, illo velit eum nesciunt earum in sint non quia quibusdam placeat autem. Impedit quis, est voluptatibus vel, mollitia quas, earum quo id et quod accusantium voluptates placeat aspernatur nulla eius!</span>
      <span class="signature">
        Con cariño<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="https://th.bing.com/th/id/OIP.eLJwcWf2Y5B1VGdmCtlR2wHaHn?pid=ImgDet&rs=1" alt="" class="is-image-being-shown">
    <img src="https://c.pxhere.com/photos/32/6f/cat_curious_mackerel_fur_cat_face_animal_world_view_cute-764501.jpg!d" alt="">
    <img src="https://th.bing.com/th/id/OIP.b2cmYly22ETpmRGD7cr1nwHaEo?pid=ImgDet&rs=1" alt="">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>