<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/acknowledgements/styles.css">
  <title>Agradecimientos para mi tía</title>
</head>
<body>
  <div class="text left">
    <div class="paragraphs">
      <span class="title">Hola, tía</span>
      <span>Quise hacer esta pequeña sección para agradecerte, no sólo por todo el interés, por el apoyo y por todos los recursos que me has dado para completar este proyecto, sino por todo el interés, todo el apoyo, el cariño y los recursos que me has dado a lo largo de toda mi vida, estando lejos o cerca. Sin ti, ni este proyecto hubiera visto la luz, ni yo sería la persona que soy ahora.</span>
      <span>Muchas gracias por todo, tía. Este pequeño proyecto que acabo de completar aquí servirá de base para proyectos aún más grandes, proyectos en los que me gustaría que hicieras parte.</span>
      <span>Te amooo</span>
      <span class="signature">
        Con cariño<br><br>Juan David López López. LamboLead Tech
      </span>
    </div>
    <div class="transitioner"></div>
  </div>
  <div class="images">
    <img src="https://th.bing.com/th/id/OIP.eLJwcWf2Y5B1VGdmCtlR2wHaHn?pid=ImgDet&rs=1" alt="" class="is-image-being-shown">
    <img src="https://c.pxhere.com/photos/32/6f/cat_curious_mackerel_fur_cat_face_animal_world_view_cute-764501.jpg!d" alt="">
    <img src="https://th.bing.com/th/id/OIP.b2cmYly22ETpmRGD7cr1nwHaEo?pid=ImgDet&rs=1" alt="">
  </div>
  <script src="/acknowledgements/index.js"></script>
</body>
</html>