#loader-logo
  height: fit-content
  width: 100%
  border: 2px dashed red
  
  // .logo-text-group
  //   transform: translateX

  // .dark-ead, .bright-ambo
  //   opacity: 0
  //   transform: scale(0)

  // .dark-L
  //   transform: translate(-21%, -24.2%)

  
  