.dark-theme
  --navbarColor: #000000CC
  --background: rgba(0, 0, 0, 0.7)
  // --background: linear-gradient(to right, #313131, #646464)
  --buttonColor: #4da6ff

  --mainFontColor: #E8E8E8
  --darkerFontColor: #A1A1A1
  --darkestFontColor: #4E4E4E

  --someDarkColor: rgba(0, 0, 0, 0.4)

  --twitterLogoColor: #4da6ff
  --linkedLogoColor: blue
  --githubLogoColor: #E8E8E8