@mixin screen-width($min, $max)
  @media (min-width: $min) and (max-width: $max)
    @content

// $phone: (min: 0px, max: 768px, orientation: portrait)
// $desktop: (min: 769px, max: 4000px, orientation: landscape)
$phone: (min: 0px, max: 1024px)
$desktop: (min: 1025px, max: 4000px)

:root
  font-family: 'Roboto Mono', monospace
  @include screen-width($phone...)
    font-size: 13px

  @include screen-width($desktop...)
    font-size: 15px

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  margin: 0
  padding: 0
  width: 100%
  height: fit-content

  background: var(--background)
  background-size: cover

  display: flex
  flex-direction: column
  justify-content: start
  align-items: end

  &::-webkit-scrollbar
    // display: none
    width: 0.5rem
    background: var(--someDarkColor)

  &::-webkit-scrollbar-thumb
    background: var(--buttonColor)
    border-top-left-radius: 0.25rem
    border-bottom-left-radius: 0.25rem
  &::-webkit-scrollbar-thumb:hover
    background: yellow
    cursor: grab

// html
//   scroll-behavior: smooth